auto_refresh.out
auto_refresh.err

# snap files
*.snap
prime
stage
parts
snap/.snapcraft

# Distributions
o2scl*.tar.gz

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Makefiles required by autoconf and automake
a.out.dSYM
m4
*Makefile
*Makefile.in
aclocal.err
aclocal.m4
aclocal.out
aconfig
autom4te.cache
cconfig
config.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
*err.out
install-sh
libtool
ltmain.sh
missing
stamp-h1
*test-summary.txt
*testlist
*.deps
*.libs
*~
compile
*.svn
*.cli_hist