name: Arch x86_64 minimal install

on:
  push:
    branches: [ "main", "rc" ]
  pull_request:
    branches: [ "main", "rc" ]

jobs:

  # Note that identifiers are not allowed to contain "."'s. 
  arch-x86_64-min:
  
    runs-on: ubuntu-24.04
    
    container:
    
      image: awsteiner/o2scl:arch_min

    steps:

    - name: Check
      run: |
        cd /opt/o2scl
        make VERBOSE=1 check o2scl-examples -j4 -O
