---
name: openSUSE TW x86_64 plus install

on:
  push:
    branches: [ "main", "rc" ]
  pull_request:
    branches: [ "main", "rc" ]

jobs:
  opensuse-TW-x86_64-plus:

    runs-on: ubuntu-latest
    container:
      image: opensuse/tumbleweed

    steps:

#    - name: Git checkout
#      uses: actions/checkout@v4

    - name: Download release
      uses: robinraju/release-downloader@v1
      with:
        repository: 'awsteiner/o2scl'
        tag: 'v0.929.2'
        fileName: 'o2scl-0.929.2.tar.gz'

    - name: Extract release and reorganize
      run: |
           tar xvzf o2scl-0.929.2.tar.gz
           mv o2scl-0.929/* .
           rmdir o2scl-0.929

    - name: Cache action
      uses: actions/cache@v4
      with:
        path: /home/runner/work/_temp/_github_home/.ccache
        # Necessary to cache the ccache data on every run
        key: cache-oSTW-x86_64-full-test-nopy-${{ github.run_id }}
        restore-keys: |
          cache-oSTW-x86_64-full-test-nopy
        save-always: true

    - name: Install dependencies
      run: zypper --non-interactive install --no-recommends ccache gawk gcc-c++ hdf5-devel libboost_headers-devel libtool make pkgconfig python3 readline-devel "pkgconfig(armadillo)" "pkgconfig(eigen3)" "pkgconfig(fftw3)" "pkgconfig(gsl)" "pkgconfig(mpfr)" "pkgconfig(ncurses)"

#    - name: Set up autotools scripts
#      run:
#        ./autogen.sh

    - name: Configure
      run: |
        cd ${GITHUB_WORKSPACE}
        export CC='ccache gcc'
        export CXX='ccache g++'
        export CXXFLAGS+="-DO2SCL_PLAIN_HDF5_HEADER -DO2SCL_OPENSUSE"
        export LDFLAGS+="-lgomp"
        export CCACHE_DIR=~/.ccache
        ./configure --build=x86_64-suse-linux --enable-shared --disable-static --enable-armadillo --enable-eigen --enable-fftw --enable-openmp --enable-ncurses 

    - name: Install
      run: |
        cd ${GITHUB_WORKSPACE}
        make VERBOSE=1 sinstall -j4 -O
        make VERBOSE=1 -C data install-data

    - name: Check
      run: |
        cd ${GITHUB_WORKSPACE}
        make VERBOSE=1 o2scl-test -j4 -O
