---
name: openSUSE TW x86_64 minimal install

on:
  push:
    branches: [ "main", "rc" ]
  pull_request:
    branches: [ "main", "rc" ]

jobs:
  opensuse-TW-x86_64-min:

    runs-on: ubuntu-latest
    
    container:
    
      image: awsteiner/o2scl:ost_min

    steps:
    
    - name: Check
      run: |
        cd /opt/o2scl
        make VERBOSE=1 check -j4 -O
        make VERBOSE=1 o2scl-examples -j4 -O
