name: Ubuntu 24.04 x86_64 plus install

on:
  push:
    branches: [ "main", "rc" ]
  pull_request:
    branches: [ "main", "rc" ]

jobs:

  # Note that identifiers are not allowed to contain "."'s. 
  ubuntu-2404-x86_64-plus:

    runs-on: ubuntu-24.04

    container:
    
      image: awsteiner/o2scl:v0.931rc_u24.04_plus_amd64

    steps:
    
    - name: Check
      run: |
        cd /opt/o2scl
        make VERBOSE=1 check -j4 -O
        make VERBOSE=1 o2scl-examples -j4 -O
