name: Ubuntu 24.04 x86_64 minimal install

on:
  push:
    branches: [ "main", "rc" ]
  pull_request:
    branches: [ "main", "rc" ]

jobs:

  # Note that identifiers are not allowed to contain "."'s. 
  ubuntu-2404-x86_64-min:

    runs-on: ubuntu-24.04

    container:
    
      image: awsteiner/o2scl:u24.04_min

    steps:

    - name: Check
      run: |
        cd /opt/o2scl
        make VERBOSE=1 check o2scl-examples -j4 -O
